body {
    margin: 0;
    text-align:  center;
    background-color: #f7f7f7;
    color: #232931;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

hr {
    display: inline-block;
    width: 10%;
    border-style: dotted none none none;
    border-width: 7px;
    border-color: darkgray; 
}

p {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.row {
    margin: 0;
}

/* Navigation */

#navigation {
    background-color: #d92027;
}


/* Products */
.product-header {
    padding-bottom: 2%;
    color: #d92027;
}

#products {
    text-align: center;
    padding: 3%;
    
}

.product-card {
    display: block;
}

.card {
    margin: 0.75rem 0;
}

.product-image {
    height: 80px;
    width: 100px;
    margin-top: 10px;
}

/* USPs */

.usp-header {
    padding: 1%;
    color: #d92027;
}

#usps img {
    margin-bottom: 20px;
}

/* Brands */
#brands {
    text-align: center;
}

#brands .outer-card {
    margin: 3% 7%;
    background-color: #eae3e3a6;
    text-align: center;
}

.brand-header {
    color: #d92027;
}

.main {
    font-family:Arial;
    width:  98%;
    display:block;
    margin:0 auto;
    text-align: center;
}

.slick-slide img {
    display: inline-block !important;
}

.slider .card {
    height: 200px;
    padding: 50px;
    margin: 0 20px;
}

/* Contact */

.contact-header {
    color: #d92027;
}

#contact {
    padding-top: 56px;
}

.contact-card {
    background-color: #eae3e3a6;
}

.card-title {
    margin: .75rem;
}

.card-body {
    padding: 0.25rem  1.25rem 0.5rem;
}

/* Footer */

#footer {
    background-color: #232931; 
    color: #fff;
    padding: 10px;
}

.map-dimensions {
    height: 450px;
    width: 600px;
}

@media (max-width: 1200px) {
    .map-dimensions {
        height: 300px;
        width: 300px;
    }
}